<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target
            name="logfile"
            xsi:type="File"
            fileName="error.log"
            layout="[${longdate} | ${level} | ${callsite}] Message=${message},Exception=${exception:format=ToString,Data:innerFormat=ToString,Data:maxInnerExceptionLevel=50},Stacktrace=${stacktrace}" />
        <target
            name="logconsole"
            xsi:type="Console"
            layout="[${longdate} | ${level} | ${callsite}] Message=${message}, Exception=${exception}, Stacktrace=${stacktrace}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Warn" writeTo="logfile" />
    </rules>
</nlog>
